.ArticleBoard .article-main-title {
    margin-top: 1em;
    text-align: center;
    font-size: 4em;
}

.ArticleBoard .article-main-subtitle {
    text-align: center;
}

.ArticleBoard .article-loading {
    margin-top: 300px;
    margin-bottom: 300px;
    text-align: center;
    color: #d0d0d0;
}

.ArticleBoard .article-more {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #d0d0d0;
}

.ArticleBoard .article-card {
    margin-left: 5%;
    margin-right: 5%;

    margin-top: 1.5%;
    margin-bottom: 1.5%;

    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;

    border: solid #dbdbdb 1px;
    border-radius: 10px;
}

.ArticleBoard .article-card {
    transform: scale(1, 1);
    transition: all 0.5s ease;
}
.ArticleBoard .article-card a {
    color: black;
    transition: all 0.5s ease;

    text-decoration: none;
}
.ArticleBoard .article-card:hover {
    transform: scale(1.04, 1.04);
    transition: all 0.5s ease;
}
.ArticleBoard .article-card a:hover {
    color: #157EFB;
    transition: all 0.5s ease;

    text-decoration: none;
}

.ArticleBoard .article-card-title {
    float: left;
}

.ArticleBoard .article-card-time {
    float: right;
    padding-top: 6px;
}
