.BlogBoard .article-main-title {
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
}

.BlogBoard .article-main-subtitle {
    text-align: center;
}

.BlogBoard .article-loading {
    margin-top: 300px;
    margin-bottom: 300px;
    text-align: center;
    color: #d0d0d0;
}

.BlogBoard #article-body {
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

.BlogBoard .no-hover-color {
    text-decoration: none;
}
.BlogBoard .no-hover-color:hover {
    color: inherit;
    text-decoration: none;
}
.BlogBoard .no-hover-color:visited {
    color: inherit;
    text-decoration: none;
}
.BlogBoard .no-hover-color:active {
    color: inherit;
    text-decoration: none;
}